.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width:700px;
    margin: 0 auto;
    padding: 6em 0;
}
.sneaker-image {
    border-radius: 20px;
    margin-left: 50px;
    width:45%;
    
}
.sneaker-text{
   width:45%;    
}
.sneaker-image .sneaker-text{
    margin-left: 10%;
}
img{
    width:100%;
    border-radius: 10px;
}
